<div ng-hide="showProgressBar">
    <div  ng-hide="listError||searchResultJson.length > 0 " class="alert alert-warning alertsp" role="alert">
        No records.
    </div>

    <div  ng-show="listError && currentPage == maxPageIndex" class="alert alert-danger alertsp" role="alert">
        Failed to get search results.
    </div>

<div class="container" ng-show="searchResultJson.length > 0" >


    <!--ul class="nav nav-pills">
        <li class="active"><a>Results</a></li>
        <li ng-click="iniFavor()"><a id="toFavor" class="button" href="#!favorList">Favorites</a></li>


    </ul-->
    <button  onmouseover="this.style.background='lightgray';" onmouseout="this.style.background='white';" style="float: right;margin-bottom: 20px; background:white;"  ng-show="cpSearchResultJson.length>0" ng-disabled="!highlightedPlaceId" class="btn btn-light border"  ng-click="toDetailFromList()" id="reDoDetail">Details></button>
    <div  style=" width:100%;white-space:nowrap;overflow:auto;" id="listTableContainner" ng-show="cpSearchResultJson.length>0" >
    <table class="table table-hover" style="font-size:13px;">
        <thead>
        <tr>
            <th>#</th>
            <th>Category</th>
            <th>Name</th>
            <th>Address</th>
            <th>Favorite</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr   id="repeatList" ng-style="highlightedPlaceId==placeJson.place_id? {'background-color' : '#fdde95'} : {}" ng-repeat="placeJson in cpSearchResultJson">

            <td style="vertical-align: middle;">
                <span>{{cpSearchResultJson.indexOf(placeJson)+1}}</span>

            </td>
            <td style="vertical-align: middle;">
                <img ng-src="{{placeJson.icon}}" height="42" width="42">

            </td>
            <td style="vertical-align: middle;">
                <span>{{placeJson.name}}</span>
            </td>
            <td style="vertical-align: middle;">
                <span>{{placeJson.vicinity}}</span>
            </td>
            <td style="vertical-align: middle;">
                <button onmouseover="this.style.background='lightgray';" onmouseout="this.style.background='white';" ng-show="placeJson.loveOrNot" ng-click='RFavorByListIndex(searchResultJson.indexOf(placeJson))'style="background-color:white;border: 2px solid gray; position:relative; width:40px; height:40px">

                   <!--i id="FON{{cpSearchResultJson.indexOf(placeJson)}}" style="width:24px; height:24px;color:{{placeJson['starColor']}} " class="{{placeJson['loveOrNot']}}"></i-->
                    <i  style="position:absolute;color:gold;  width:16px; height:16px;left:10px; top:10px;" class="fas fa-star"></i>


                </button>

                <button onmouseover="this.style.background='lightgray';" onmouseout="this.style.background='white';" ng-show="!placeJson.loveOrNot" ng-click='AFavorByListIndex(searchResultJson.indexOf(placeJson))'style="background-color:white;border: 2px solid gray; position:relative; width:40px; height:40px">

                <i  style="position:absolute; color:black; width:16px; height:16px; left:10px; top:10px;" class="far fa-star"></i>

                </button>

            </td>
            <td style="vertical-align: middle;">
                    <!--why cannot use class-->
                <a>
                <button onmouseover="this.style.background='lightgray';" onmouseout="this.style.background='white';" class="btn btn-default" ng-click="setAniClassDetail(placeJson)" style="background-color:white;border: 2px solid gray; text-align: center; vertical-align: middle; display: table-cell; width:40px; height:40px"> <i class="fas fa-angle-right"></i>

                </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    <div style="text-align:center; margin:0 auto;">

        <button class="btn btn-light border fadeR" style="width:90px; background-color:white;" id="prev" ng-show="currentPage > 0" ng-click="prevPage()">Previous</button>

        <button class="btn btn-light border fadeR"  style="width:90px; background-color:white;" id="next" ng-show="currentPage < maxPageIndex" ng-click="nextPage()">Next</button>
    </div>

</div>

</div>


<div ng-show="showProgressBar">
<div style="width:80%; margin:0 auto;" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
</div>
<div style="height:500px;"></div>
</div>